
<div class="myfooter">
<div class="centree">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="list-menu">
      <ul>
        <li><%= link_to 'Organisation', '#.html'  %></li>
        <li><%= link_to 'Services', '#.html' %></li>
        <li><%= link_to 'Réservations', '#.html' %></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="list-menu">
      <ul>
        <li><%= link_to 'Ou trouver nos produits', '#.html' %></li>
        <li><%= link_to 'Le trésor des ruches', '#.html' %></li>
        <li><%= link_to 'La production', '#.html' %></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
      <div class="list-menu">
      <ul>
        <li><%= link_to 'A propos', 'about.html' %></li>
        <li><%= link_to 'Contact', 'contact.html' %></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-12">
       <div class="list-menu">
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
</div>
