<div class="tabs hidden-xs hidden-sm">

  <div class="tabs-item dropdown">
    <span>Les miels</span>
      <div class="dropdown-content">
        <span><%= link_to 'En pots', "#.html" %></span>
        <hr>
        <span><%= link_to 'Les ballotins', "#.html" %></span>
      </div>
  </div>


  <div class="tabs-item dropdown">
    <span>Les senteurs<span>
      <div class="dropdown-content">
         <span><%= link_to 'Nos bougies', "#.html" %></span>
          <hr>
         <span><%= link_to 'Notre cire brute', "#.html" %></span>
         <hr>
         <span><%= link_to 'En savons', "#.html" %></span>
    </div>
  </div>

  <div class="tabs-item dropdown">
    <span>Les douceurs et envies<span>
      <div class="dropdown-content">
         <span><%= link_to 'En bonbons', "#.html" %></span>
          <hr>
         <span><%= link_to 'En Pastilles', "#.html" %></span>
         <hr>
         <span><%= link_to 'En gomme', "#.html" %></span>
         <hr>
         <span><%= link_to 'En pain d\'épices', "#.html" %></span>
    </div>
  </div>
  <div class="tabs-item dropdown">
    <span>Bien-être et santé<span>
      <div class="dropdown-content">
         <span><%= link_to 'Le pollen', "#.html" %></span>
          <hr>
         <span><%= link_to 'La gelée royale', "#.html" %></span>
         <hr>
         <span><%= link_to 'Le propolis', "#.html" %></span>
    </div>
  </div>


  <div class="tabs-item">
     <span><%= link_to 'Contact', '#.html' %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to 'A propos', 'about.html' %></span>
  </div>

</div><!-- Fin tabs -->

