<div class="tabs hidden-xs hidden-sm">

  <div class="tabs-item dropdown">
    <span>Portfolio 2D<span>
      <div class="dropdown-content">
         <span><%= link_to 'Documents et mise en page', "print.html" %></span>
          <hr>
         <span><%= link_to 'Dessins et Illustrations', "illustration.html" %></span>
    </div>
  </div>

  <div class="tabs-item dropdown">
    <span>Portfolio 3D</span>
      <div class="dropdown-content">
        <span><%= link_to 'Modélisation', "autodesk.html" %></span>
        <hr>
        <span><%= link_to 'Animation', "shorts2.html" %></span>
         <hr>
         <span><%= link_to 'Contenu personnalisé', "gifs.html" %></span>
      </div>
  </div>

  <div class="tabs-item dropdown">
    <span>Développement</span>
    <div class="dropdown-content">
       <span><%= link_to 'Compétences', "dev_comp.html" %></span>
       <hr>
       <span><%= link_to 'Sites Web', "dev_web.html" %></p>
       <hr>
       <span><%= link_to 'applications', "application.html" %></span>
    </div>
  </div>

  <div class="tabs-item">
    <span><%= link_to 'Musique', "music.html" %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to 'Contact', 'contact.html' %></span>
  </div>

</div><!-- Fin tabs -->

