<div class="tabs hidden-xs hidden-sm">

  <div class="tabs-item dropdown">
    <span>Images et multimédia<span>
      <div class="dropdown-content">
         <span><%= link_to 'Documents et mise en page', "print.html" %></span>
         <hr>
         <span><%= link_to 'Dessins et Illustrations', "illustration.html" %></span>
    </div>
  </div>

  <div class="tabs-item dropdown">
    <span>Passion 3D</span>
      <div class="dropdown-content">
        <span><%= link_to 'Modélisation 3D', "autodesk.html" %></span>
        <hr>
        <span><%= link_to 'Animation 3D', "shorts.html" %></span>
         <hr>
         <span><%= link_to 'Gifs animés', "gifs.html" %></span>
      </div>
  </div>

  <div class="tabs-item dropdown">
    <span>Développement</span>
    <div class="dropdown-content">
       <span>Compétences</span>
       <hr>
       <span>Sites Web</p>
       <hr>
       <span>Applications</span>
    </div>
  </div>

  <div class="tabs-item">
    <a href="pages/music.html"> <span>Musique</span></a>
  </div>
  <div class="tabs-item">
     Contact
  </div>

</div><!-- Fin tabs -->

