<div class="tabs hidden-xs">

  <div class="tabs-item dropdown">
    <span>Organisation</span>
      <div class="dropdown-content">
        <span><%= link_to 'Journées d\'étude', "#.html" %></span>
        <hr>
        <span><%= link_to 'Séminaires', "#.html" %></span>
        <hr>
        <span><%= link_to 'Salons', "#.html" %></span>
        <hr>
        <span><%= link_to 'Repas d\'affaires', "#.html" %></span>
        <hr>
        <span><%= link_to 'Activités récréatives ou culturelles', "#.html" %></span>
         <hr>
        <span><%= link_to 'Déplacements', "#.html" %></span>
      </div>
  </div>

  <div class="tabs-item dropdown">
    <span>Services<span>
      <div class="dropdown-content">
         <span><%= link_to 'Nos bougies', "#.html" %></span>
          <hr>
         <span><%= link_to 'Notre cire brute', "#.html" %></span>
         <hr>
         <span><%= link_to 'En savons', "#.html" %></span>
    </div>
  </div>

  <div class="tabs-item dropdown">
    <span>Réservations<span>
      <div class="dropdown-content">
         <span><%= link_to 'Avion', "#.html" %></span>
          <hr>
         <span><%= link_to 'Train', "#.html" %></span>
         <hr>
         <span><%= link_to 'Location voiture', "#.html" %></span>
         <hr>
         <span><%= link_to 'Taxi', "#.html" %></span>
    </div>
  </div>

  <div class="tabs-item">
     <span><%= link_to 'Contact', '#.html' %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to 'A propos', 'about.html' %></span>
  </div>

</div><!-- Fin tabs -->

