<div class="white" data-aos="fade-up">
  <div class="p-container">
    <div class="text-center">
      <%= image_tag "ico-3d.png" %>
    </div>
    <div class="p-texte">
      <h1>Modélisation 3D</h1>
      <p>Depuis plus de 20 ans, je me passionne également pour la 3D et l'animation.<br>
      Voici quelques projets personnels qui reflètent mon travail et me permettrons d'attirer votre attention.<br>
      J'ai étudié 3dsMax sous tout les angles, découvrant ses fonctionalités, au fil du temps.<br>
      Les animations sont visibles dans la section  <a class="btn btn-primary" href="shorts.html" target="_blank">Shorts 3D</a></p>
    </div>
      <div class="text-center hidden-sm hidden-xs">
        <%= image_tag "ico-3dsmax.png", alt: "3dsMax" %>
        <%= image_tag "ico-mudbox.png", alt: "Mudbox" %>
        <%= image_tag "ico-photoshop.png", alt: "Photoshop" %>
      </div>
  </div>
</div>
<p></p>
<div class="a-container" data-aos="zoom-in">
  <div class="img">
    <a href="images/porkman.jpg" data-lightbox="sculpt" data-title="'Porkman' sculpté sous Mudbox d'Autodesk."><%= image_tag "porkman1.jpg"%></a>
  </div>
   <div class="img">
    <a href="images/origine.jpg" data-lightbox="sculpt" data-title="Sculpté sous Mudbox d'Autodesk."><%= image_tag "origine1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/personnage03.jpg" data-lightbox="sculpt" data-title="Travail sur les extractions de textures pour appliquer à un modèle low-poly."><%= image_tag "personnage031.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/quad_2018.jpg" data-lightbox="quad" data-title="Modelisation d'un Quad."><%= image_tag "quad_2018-1.jpg"%></a>
  </div>
  <div class="img hidden">
    <a href="images/quad_2018_2.jpg" data-lightbox="quad" data-title="Rigging (Hauteur du chassis, orientation et rotation des roues, inclinaison du carenage, du pilote et du guidon)."></a>
  </div>
  <div class="img hidden">
    <a href="images/quad_2018_3.jpg" data-lightbox="quad" data-title="#"></a>
  </div>
  <div class="img hidden">
    <a href="images/quad_2018_4.jpg" data-lightbox="quad" data-title="#."></a>
  </div>
  <div class="img hidden">
    <a href="images/quad_2018_5.jpg" data-lightbox="quad" data-title="#."></a>
  </div>
  <div class="img">
    <a href="images/patcham.jpg" data-lightbox="faces" data-title="Déclinaison d'expressions pour morphing d'animation."><%= image_tag "patcham1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/e1face.jpg" data-lightbox="faces" data-title="Déclinaison d'expressions pour morphing d'animation."><%= image_tag "e1face1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/mamba.png" data-lightbox="faces" data-title="Déclinaison d'expressions pour morphing d'animation."><%= image_tag "mamba1.png"%></a>
  </div>
  <div class="img">
    <a href="images/dino.jpg" data-lightbox="dino" data-title="Préparation de la structure d'animation et des textures."><%= image_tag "trex1.jpg"%></a>
  </div>
  <div class="img hidden">
    <a href="images/trex.jpg" data-lightbox="dino" data-title="Mise en scène, éclairage et animation."></a>
  </div>
  <div class="img">
    <a href="images/babymech.jpg" data-lightbox="basic" data-title="Modélisation et textures d'un 'BabyMech'."><%= image_tag "babymech1.jpg"%></a>
  </div>
   <div class="img">
    <a href="images/char2.jpg" data-lightbox="basic" data-title="Char futuriste légé."><%= image_tag "char21.jpg"%></a>
  </div>
   <div class="img">
    <a href="images/player.jpg" data-lightbox="basic" data-title="J'ai toujours aimé jouer de la guitare !"><%= image_tag "player1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/apache.jpg" data-lightbox="basic" data-title="Modelisation low-poly d'un Apache AH-64"><%= image_tag "apache1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/model-a.jpg" data-lightbox="basic" data-title="Modelisation d'une femme, avec seulement des polygones à 4 arêtes."><%= image_tag "model1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/garment.jpg" data-lightbox="basic" data-title="Création d'un vêtement pour animation."><%= image_tag "garment1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/interieur.jpg" data-lightbox="basic" data-title="Premiers pas sur de l'architecture d'interieur et éclairage mental-ray."><%= image_tag "interieur1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/crowd.jpg" data-lightbox="basic" data-title="Animation d'instances ayant des comportements (éviter, suivre une surface, contourner...)."><%= image_tag "crowd1.jpg"%></a>
  </div>
  <div class="img">
    <a href="toycar.html"><%= image_tag "toycar1.jpg"%></a>
  </div>
   <div class="img">
    <a href="images/extex.jpg" data-lightbox="basic" data-title="Aperçu de placage de texture simple uvw'"><%= image_tag "extex1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/carpentry.jpg" data-lightbox="basic" data-title="Menuiserie model low-poly et textures."><%= image_tag "carpentry1.jpg"%></a>
  </div>
   <div class="img">
    <a href="images/charfem.gif" data-lightbox="basic" data-title="Modelisation d'un char futuriste et son pilote."><%= image_tag "charfem1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/dreamhouse.jpg" data-lightbox="dreamhouse" data-title="En cours... La maison de mes rêves."><%= image_tag "dreamhouse1.gif"%></a>
  </div>
  <div class="img hidden">
    <a href="images/dreamhouse2.jpg" data-lightbox="dreamhouse" data-title="Piscine interieur exterieur, 3 étages, terrasses."></a>
  </div>
  <div class="img hidden">
    <a href="images/dreamhouse3.jpg" data-lightbox="dreamhouse" data-title="Vue exterieure."></a>
  </div>
  <div class="img">
    <a href="images/discret.jpg" data-lightbox="basic" data-title="Test de posture et d'animation."><%= image_tag "discret1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/ppont.jpg" data-lightbox="basic" data-title="Image issue d'une animation en motion capture sur une structure Biped."><%= image_tag "ppont1.gif" %></a>
  </div>
  <div class="img">
    <a href="images/arsac.jpg" data-lightbox="basic" data-title="Etude de faisabilité."><%= image_tag "arsac1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/pieuvre.jpg" data-lightbox="basic" data-title="Modélisation de tentacules pour une pochette de CD du groupe 'Ashes To Fire'."><%= image_tag "pieuvre1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/meuble.jpg" data-lightbox="basic" data-title="Modélisation avant conception."><%= image_tag "meuble1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/boite.jpg" data-lightbox="basic" data-title="Modélisation avant conception."><%= image_tag "boite1.gif"%></a>
  </div>
</div><!-- fin imgbox -->

<div class="white text-center aered"><%= image_tag "stars.png" %></div>

<div class="p-container white">
  <div class="p-info-barre">
    <h4>Ma proposition :</h4>
    <p>1- Vous me faites part de votre projet. Je réceptionne toutes les références nécessaires, cahier des charges.<br>
      2- Etablissement d'un devis ou forfait journalier.<br />
      3- Dès réception de l'acompte, le projet est mis en production.<br />
      4- Nous suivons ensemble, au fur et à mesure, l'aspect et la pertinence de l'avancement du projet.<br />
      5- Au réglement du solde, le projet est livré dans sa totalité.</p>
  </div>
  <div class="p-contact-button"><button class="btn btn-success">Me contacter<br>Immédiatement !</button></div>
</div>


<%= partial 'layouts/components/apt' %>



