<div class="white" data-aos="fade-up">
  <div class="p-container">
    <div class="text-center">
      <%= image_tag "ico-3d.png" %>
    </div>
    <div class="p-texte">
      <h1>Modélisation 3D</h1>
      <p>Depuis plus de 20 ans, je me passionne pour la 3D et l'animation. Voici quelques projets personnels
      qui, je l'espère, me permettrons d'attirer votre attention.</p>
    </div>
      <div class="text-center hidden-sm hidden-xs">
        <%= image_tag "ico-3dsmax.png" %><%= image_tag "ico-photoshop.png" %> <%= image_tag "ico-mudbox.png", alt: "Mudbox" %>
      </div>
  </div>
</div>
<p></p>
<div class="a-container" data-aos="zoom-in">
  <div class="img">
    <a href="images/porkman.jpg" data-lightbox="print" data-title="#" data-title="#"><%= image_tag "porkman1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/charfem.gif" data-lightbox="print" data-title="#"><%= image_tag "charfem1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/personnage03.jpg" data-lightbox="print" data-title="#"><%= image_tag "personnage031.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/quad_2018.jpg" data-lightbox="print" data-title="#"><%= image_tag "quad_2018-1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/patcham.jpg" data-lightbox="print" data-title="#"><%= image_tag "patcham1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/e1face.jpg" data-lightbox="print" data-title="#"><%= image_tag "e1face1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/mamba.png" data-lightbox="print" data-title="#"><%= image_tag "mamba1.png"%></a>
  </div>
  <div class="img">
    <a href="images/hair.jpg" data-lightbox="print" data-title="#"><%= image_tag "hair1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/bike.gif" data-lightbox="print" data-title="#"><%= image_tag "bike1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/dino.jpg" data-lightbox="print" data-title="#"><%= image_tag "dino1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/trex.jpg" data-lightbox="print" data-title="#"><%= image_tag "trex1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/babymech.jpg" data-lightbox="print" data-title="#"><%= image_tag "babymech1.jpg"%></a>
  </div>
   <div class="img">
    <a href="images/char2.jpg" data-lightbox="print" data-title="#"><%= image_tag "char21.jpg"%></a>
  </div>
   <div class="img">
    <a href="images/player.jpg" data-lightbox="print" data-title="#"><%= image_tag "player1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/apache.jpg" data-lightbox="print" data-title="#"><%= image_tag "apache1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/dreamhouse.jpg" data-lightbox="print" data-title="#"><%= image_tag "dreamhouse1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/discret.jpg" data-lightbox="print" data-title="#"><%= image_tag "discret1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/cosmo.gif" data-lightbox="print" data-title="#"><%= image_tag "cosmo1.gif" %></a>
  </div>
  <div class="img">
    <a href="images/crash.gif" data-lightbox="print" data-title="#"><%= image_tag "crash1.gif" %></a>
  </div>
  <div class="img">
    <a href="images/ppont.jpg" data-lightbox="print" data-title="#"><%= image_tag "ppont1.gif" %></a>
  </div>
  <div class="img">
    <a href="images/origine.jpg" data-lightbox="print" data-title="#"><%= image_tag "origine1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/arsac.jpg" data-lightbox="print" data-title="#"><%= image_tag "arsac1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/pieuvre.jpg" data-lightbox="print" data-title="#"><%= image_tag "pieuvre1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/meuble.jpg" data-lightbox="print" data-title="#"><%= image_tag "meuble1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/boite.jpg" data-lightbox="print" data-title="#"><%= image_tag "boite1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/model-a.jpg" data-lightbox="print" data-title="#"><%= image_tag "model1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/garment.jpg" data-lightbox="print" data-title="#"><%= image_tag "garment1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/interieur.jpg" data-lightbox="print" data-title="#"><%= image_tag "interieur1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/crowd.jpg" data-lightbox="print" data-title="#"><%= image_tag "crowd1.jpg"%></a>
  </div>
  <div class="img">
    <a href="images/../shorts/toycar.mp4" data-lightbox="print" data-title="#"><%= image_tag "toycar1.jpg"%></a>
  </div>
   <div class="img">
    <a href="images/extex.jpg" data-lightbox="print" data-title="#"><%= image_tag "extex1.gif"%></a>
  </div>
  <div class="img">
    <a href="images/carpentry.jpg" data-lightbox="print" data-title="#"><%= image_tag "carpentry1.jpg"%></a>
  </div>
</div><!-- fin imgbox -->

<p></p>

<div class="p-container white">
  <div class="p-info-barre">
    <h4>Ma proposition :</h4>
    <p>1- Vous me faites part de votre projet.<br>
      2- Je réceptionne toutes les références nécessaires, cahier des charges.<br>
      3- J'établie un devis.<br />
      4- Dès réception de l'acompte, le projet est mis en production.<br />
      5- Nous évaluons ensemble, au fur et à mesure de l'avancement, l'aspect et la pertinence des résultats.<br />
      6- Le projet est livré.</p>
  </div>
  <div class="p-contact-button"><button class="btn btn-success">Me contacter<br>Immédiatement !</button></div>
</div>

<p></p>
<%= partial 'layouts/components/apt' %>
<p></p>

<div class="container">

  <div class="a-imgbox2">
    <p>J'utilise différents types de structures pour l'animation de personnage.<br>
      Biped est une structure sous 3DS Max permettant des animations professionnelles.<br/>
      Cliquez le bouton pour voir le court-métrage:<br/>
      <a href="../shorts/temballes pas.avi" class="btn btn-success"> T'emballes pas !!!</a>
    </p>
    <div class="img2 d-flex">
      <img src="../images/al yenn.gif" class="img2 d-flex">
    </div>
  </div>

  <div class="a-imgbox2">
    <p>Personnage + Biped + Skin + Morph faces target.</p>
     <div class="img2 d-flex"><img src="../images/character.jpg"></div>
    </div>
     <br>
  <div class="a-imgbox2">
    <p>Intégration du Biped sur arrière plan fixe.</p>
     <div class="img2 d-flex"><img src="../images/bbm.jpg"></div>
    </div>
    <br>
  <div class="a-imgbox2">
    <p>Animation d'un poisson par keyframe.</p>
     <div class="img2 d-flex"><img src="../images/fish.gif"></div>
    </div>
    <br>
  <div class="a-imgbox2">
    <p>Personnage + Bones + Skin + Morph faces target + Hair & Fur.</p>
     <div class="img2 d-flex"><img src="../images/singer.gif"></div>
     </div>
    <br>
  <div class="a-imgbox2">
    <p></p>
     <div class="img2 d-flex"><img src="../images/swark.gif"></div>
    </div>
    <br>
  <div class="a-imgbox2">
      <div class="img2 d-flex">
      <p class="textbox">Regardez le résultat animé (3 secondes).<br />
        <a href="../shorts/troupers.mp4" class="btn btn-success"> Go ! </a></p>
      <img src="../images/soldat.gif">
      </div>
  </div>
   <br>
  <div class="a-imgbox2">
    <p></p>
     <div class="img2 d-flex"><img src="../images/gogodance.jpg"></div>
    </div>
</div><!-- Fin container-->









</body>
</html>


