<div data-aos="fade-up">
    <div class="d-container">
      <div class="text-center">
        <%= image_tag "ico-web.png" %>
      </div>
      <div class="#">
        <h1>Sites Web.</h1>
        <p>Création, refonte de sites statiques et dynamiques.<br>
          Webdesign : Création de templates et chartes graphiques.<br>
          Responsive Design : pour un rendu optimal sur les mobiles et tablettes tactiles.
        </p>
      </div>
      <div class="text-center hidden-sm hidden-xs">
        <h3>Domaine d'expertise</h3>
          <%= image_tag "ico-ruby.png" %>
          <%= image_tag "ico-rails.png" %>
          <%= image_tag "ico-middleman.png" %>
        </div>
    </div>
</div>

<div class="d-container white text-center"><%= image_tag "artecie1.png", alt: "Artistes et Cie" %></div>
<div class="d-container white text-center">
  <%= image_tag "artfoto1.jpg", class: 'aered', style: 'height: 250px'%>
  <%= image_tag "artfoto2.jpg", class: 'aered', style: 'height: 250px'%>
  <%= image_tag "artfoto3.jpg", class: 'aered', style: 'height: 250px'%>
  <%= image_tag "artfoto4.jpg", class: 'aered', style: 'height: 250px'%>
</div>

<%= partial 'layouts/components/apt' %>
