<div data-aos="fade-up">
  <div class="d-container">
    <div class="text-center hidden-xs">
      <%= image_tag "ico-ruby.png" %>
    </div>
    <div class="p-texte">
      <h1>Compétences en développement.</h1>
      <p>Etudiant au<a href="https://www.lewagon.com/fr/bordeaux" target="_blank"> Wagon de Bordeaux</a> (novembre 2017).<br>
      Une expérience intensive et d'une richesse indéniable tant dans la diversité des profils que l'on y rencontre que dans le contenu qu'elle délivre. J'ai pu parfaire mes connaissances en Front-end et découvrir le code coté Back-end. Je découvre le framework Ruby on Rails, l'architecture MVC, la programmation orientée objets, les classes, l'héritage, les modules, les librairies, les helpers, les requêtes HTTP, le CRUD, les bases de données, la collaboration sur les projets... <br>
      MERCI à toute l'équipe de Bordeaux ! Et big-up au Batch #102 !</p>
    </div>
  </div>
</div>

<div class="d-container text-center aered"><%= image_tag "separate02.png", alt: "alttext" %></div>

<div class="text-center home-mainfbox aered">
  <%= image_tag "ico-rails.png", alt: "Rails"  %>
  <%= image_tag "ico-html.png", alt: "HTML"  %>
  <%= image_tag "ico-css.png", alt: "CSS"  %>
  <%= image_tag "ico-javascript.png", alt: "Javascript"  %>
  <%= image_tag "ico-middleman.png", alt: "Middleman" %>
  <%= image_tag "ico-bootstrap.png", alt: "Bootstrap" %>
  <%= image_tag "ico-postgre.png", alt: "Postgre"  %>
  <%= image_tag "ico-github.png", alt: "Github" %>
</div>
<div class="d-container text-center aered"><%= image_tag "separate03.png", alt: "alttext" %></div>

<div class="text-center home-mainfbox aered">
  <%= image_tag "ico-ajax.png", alt: "Ajax" %>
  <%= image_tag "ico-google_dev.png", alt: "alttext" %>
  <%= image_tag "ico-npm.png", alt: "npm" %>
  <%= image_tag "ico-webpack.png", alt: "Webpack" %>
  <%= image_tag "ico-yarn.png", alt: "Yarn" %>
  <%= image_tag "ico-node.png", alt: "Node.js" %>
  <%= image_tag "ico-stripe.png", alt: "Stripe" %>
  <%= image_tag "ico-heroku.png", alt: "Heroku" %>
</div>

<div class="white text-center aered"><%= image_tag "stars.png", alt: "alttext" %></div>
<%= partial 'layouts/components/apt' %>

