<div class="container">
  <div data-aos="fade-up">
    <div class="dev-container">
      <div class="ico text-center hidden-xs">
        <%= image_tag "ico-ruby.png" %>
      </div>
      <div class="dev-texte text-center">
        <h1>Gestion de projets web (Back-end /Front-end).</h1>
      </div>
    </div>
    <p id="myhover"><p>
    <strong>Ex : Pack site vitrine à partir de 1200€</strong><br>
    Comprend le design de la page d’accueil, la navigation et son intégration. À partir de deux modifications, des suppléments seront facturés. Les sites sont créés sur une base de CMS (Content Management System) pour vous permettre de travailler par la suite en totale autonomie, avec facilité et plaisir. Ensuite vient la création des design des pages intérieurs. Le pack inclus aussi une formation servant à vous familiariser avec le back office de votre site, à vous apprendre à créer des pages, modifier du contenu, mettre à jour et connaitre les bases.</p>
      <div class="dev-container text-center"><a href="" type="button" class="btn btn-success"><strong>Contactez-moi !</strong></a></div><br>
  </div>

  <div class="dev-mainfbox black">
    <%= image_tag "Capture_dhom1.png", alt: "image", height: 150 %>
    <%= image_tag "Capture_hop1.png", alt: "image", height: 150 %>
    <%= image_tag "Capture_farm1.png", alt: "image", height: 150 %>
  </div>

  <section>
    <div class="text-center dev-mainfbox aered">
      <%= image_tag "ico-rails.png", alt: "Rails", height: 60  %>
      <%= image_tag "ico-html.png", alt: "HTML", height: 60  %>
      <%= image_tag "ico-css.png", alt: "CSS", height: 60  %>
      <%= image_tag "ico-javascript.png", alt: "Javascript", height: 60  %>
      <%= image_tag "ico-middleman.png", alt: "Middleman", height: 60 %>
      <%= image_tag "ico-bootstrap.png", alt: "Bootstrap", height: 60 %>
      <%= image_tag "ico-postgre.png", alt: "Postgre", height: 60  %>
      <%= image_tag "ico-github.png", alt: "Github", height: 60 %>
      <%= image_tag "ico-ajax.png", alt: "Ajax", height: 60 %>
      <%= image_tag "ico-google_dev.png", alt: "google", height: 60 %>
      <%= image_tag "ico-npm.png", alt: "npm", height: 60 %>
      <%= image_tag "ico-webpack.png", alt: "Webpack", height: 60 %>
      <%= image_tag "ico-yarn.png", alt: "Yarn", height: 60 %>
      <%= image_tag "ico-node.png", alt: "Node.js", height: 60 %>
      <%= image_tag "ico-stripe.png", alt: "Stripe", height: 60 %>
      <%= image_tag "ico-heroku.png", alt: "Heroku", height: 60 %>
    </div>
    <p><strong>Système de gestion de contenu, Ruby, Rails, architecture MVC, modules, librairies, helpers, programmation orientée objets, classes, héritage, requêtes HTTP, CRUD, bases de données, Github...</strong></section><p>
  </section>

<div class="container">
  <div data-aos="fade-in">
    <div class="dev-container">
      <div class="ico text-center hidden-xs">
        <%= image_tag "ico-web.png" %>
      </div>
      <div class="dev-texte">
        <h1>Integration Web Responsive (Front-end).</h1>
        <div class="dev-container text-center"><a href="" type="button" class="btn btn-success"><strong>Contactez-moi !</strong></a></div>
      </div>
    </div>
    <div> <p><strong>Création, refonte de sites statiques et dynamiques.</strong> Webdesign : <strong>Création de templates et chartes graphiques.</strong><br> <strong>Responsive Design : </strong>pour un rendu optimal sur les mobiles et tablettes tactiles.
        </p>
    </div>
  </div>
  <div class="dev-container white text-center"><%= image_tag "artecie1.png", alt: "Artistes et Cie" %></div>
    <div class="d-container white text-center">
      <%= image_tag "artfoto1.jpg", class: 'aered', style: 'height: 250px'%>
      <%= image_tag "artfoto2.jpg", class: 'aered', style: 'height: 250px'%>
      <%= image_tag "artfoto3.jpg", class: 'aered', style: 'height: 250px'%>
      <%= image_tag "artfoto4.jpg", class: 'aered', style: 'height: 250px'%>
    </div>
  </div>

  <%= partial 'layouts/components/apt' %>
</div><!-- fin container -->












