<div data-aos="fade-up">
    <div class="d-container">
      <div class="text-center">
        <%= image_tag "ico-web.png" %>
      </div>
      <div class="#">
        <h1>Sites Web.</h1>
        <p>Création, refonte de sites statiques et dynamiques.<br>
          Webdesign : Création de templates et chartes graphiques.<br>
          Responsive Design : pour un rendu optimal sur les mobiles et tablettes tactiles.
        </p>
      </div>
      <div class="text-center hidden-sm hidden-xs">
        <h3>Domaine d'expertise</h3>
          <%= image_tag "ico-html.png" %>
          <%= image_tag "ico-css.png" %>
          <%= image_tag "ico-javascript.png" %>
          <%= image_tag "ico-middleman.png" %>
          <%= image_tag "ico-bootstrap.png" %>
        </div>
    </div>
</div>

<div class="d-container white text-center"><%= image_tag "artecie1.png", alt: "Artistes et Cie" %></div>
<div class="d-container white text-center">
  <%= image_tag "artfoto1.jpg", class: 'aered', style: 'height: 250px'%>
  <%= image_tag "artfoto2.jpg", class: 'aered', style: 'height: 250px'%>
  <%= image_tag "artfoto3.jpg", class: 'aered', style: 'height: 250px'%>
  <%= image_tag "artfoto4.jpg", class: 'aered', style: 'height: 250px'%>


<div class="wrapper-wd hidden-xs">
    <header>
      <h4>HTML & Css (before & after) pour styliser et animer.</h4>
    </header>
     <div id="liste">
      <div class ="list-item">switch 1
        <span class="right"><a class= "btn btn-primary" href="#">Access</a></span>
      </div>
      <div class ="list-item">switch 2
        <span class="right"><a class= "btn btn-primary" href="#">Access</a></span>
      </div>
      <div class ="list-item">switch 3
        <span class="right"><a class= "btn btn-primary" href="#">Access</a></span>
      </div>
      <div class ="list-item">switch 4
        <span class="right"><a class= "btn btn-primary" href="#">Access</a></span>
      </div>
      </div>
  </div>
</div>
<%= partial 'layouts/components/apt' %>
