<div class="white" data-aos="fade-up">
    <div class="d-container">
      <div class="text-center">
        <%= image_tag "ico-web.png" %>
      </div>
      <div class="#">
        <h1>Sites Web.</h1>
        <p>Création, refonte de sites statiques et dynamiques.<br>
          Webdesign : Création de templates et chartes graphiques.<br>
          Responsive Design : pour un rendu optimal sur les mobiles et tablettes tactiles.
          </p>
      </div>
    </div>
</div>

<div class="d-container white text-center"><%= image_tag "artecie1.png", alt: "Artistes et Cie" %></div>
<div class="d-container white text-center">
  <%= image_tag "artfoto1.jpg", class: 'aered', style: 'height: 250px'%>
  <%= image_tag "artfoto2.jpg", class: 'aered', style: 'height: 250px'%>
  <%= image_tag "artfoto3.jpg", class: 'aered', style: 'height: 250px'%>
  <%= image_tag "artfoto4.jpg", class: 'aered', style: 'height: 250px'%>
</div>
<div class="d-container white text-center"><%= image_tag "enconstr.jpg", style: 'height:150px' %></div>
<%= partial 'layouts/components/apt' %>
