<div class="white" data-aos="fade-up">
  <div class="p-container">
    <div class="text-center">
      <%= image_tag "ico-web.png" %>
    </div>
    <div class="p-texte">
      <h1>Contenus Web.</h1>
      <p>Pour personnaliser vos pages, votre blog, vos réseaux sociaux, il est possible de
      créer la petite animation qui va bien.<br> Celle qui vous caractèrise et vous ressemble. Qui illustre au mieux qui vous êtes, l'idée que vous voulez faire passer.</p>
    </div>
      <div class="text-center hidden-sm hidden-xs">
        <%= image_tag "ico-photoshop.png" %>
        <%= image_tag "ico-3dsmax.png" %>
        <%= image_tag "ico-wacom.png", alt: "Wacom" %>
      </div>
  </div>
</div>
<div class="white">
  <div class="g-container" data-aos="zoom-in">

      <div class="imgbox-white">
        <div class="g-img"><img src="../images/div_aam.png"></div>
        <div class="g-img"><img src="../images/div_esdreat.png"></div>
        <div class="g-img"><img src="../images/div_lcpe.png"></div>
      </div>
      <div class="imgbox-white">
        <div class="g-img"><img src="../images/div_lspe.png"></div>
        <div class="g-img"><img src="../images/div_noel.png"></div>
        <div class="g-img"><img src="../images/div_contact.png"></div>
      </div>

      <div class="imgbox-white">
        <div class="g-img"><img src="../images/fou B.gif"></div>
        <div class="g-img"><img src="../images/ok.gif"></div>
        <div class="g-img"><img src="../images/non2.gif"></div>
        <div class="g-img"><img src="../images/heu.gif"></div>
        <div class="g-img"><img src="../images/ouais.gif"></div>
        <div class="g-img"><img src="../images/non.gif"></div>
        <div class="g-img"><img src="../images/kikou.gif"></div>
      </div><!-- fin imgbox -->

      <div class="imgbox-white">
        <div class="g-img"><img src="../images/ara.gif"></div>
        <div class="g-img"><img src="../images/fight1.gif"></div>
        <div class="g-img"><img src="../images/grijolie.gif"></div>
        <div class="g-img"><img src="../images/chenille.gif"></div>
      </div><!-- fin imgbox -->


      <div class="imgbox-black">
        <div class="g-img"><img src="../images/Egrappage.gif"></div>
        <div class="g-img"><img src="../images/foulage.gif"></div>
        <div class="g-img"><img src="../images/presse.gif   "></div>
      </div><!-- fin imgbox -->


      <div class="imgbox-black">
        <div class="g-img"><img src="../images/nuages.gif"></div>
        <div class="g-img"><img src="../images/carla.gif"></div>
        <div class="g-img"><img src="../images/char2.gif"></div>
        <div class="g-img"><img src="../images/aliensit.gif"></div>
        <div class="g-img"><img src="../images/guitare.gif"></div>
        <div class="g-img"><img src="../images/francou.gif"></div>
      </div><!-- fin imgbox -->


      <div class="imgbox-black">
        <div class="g-img"><img src="../images/yes.gif"></div>
        <div class="g-img"><img src="../images/lola2.gif"></div>
        <div class="g-img"><img src="../images/lol9.gif"></div>
        <div class="g-img"><img src="../images/lol8.gif"></div>
        <div class="g-img"><img src="../images/fou N.gif"></div>
        <div class="g-img"><img src="../images/oeil3.gif"></div>
        <div class="g-img"><img src="../images/redcar2.gif"></div>
      </div><!-- fin imgbox -->

      <div class="imgbox-black">
        <div class="g-img"><img src="../images/toon_guit.gif"></div>
        <div class="g-img"><img src="../images/bdcourse.gif"></div>
        <div class="g-img"><img src="../images/karate.gif"></div>
      </div><!-- fin imgbox -->


  </div><!-- fin container -->
</div>

<div class="p-container white">
  <div class="p-info-barre">
    <h4>Ma proposition :</h4>
    <p>1- Vous avez une envie d'une touche personnalisée ? Vous avez une idée que vous souhaiteriez voir prendre vie ?<br />
      2- En m'inspirant de votre souhait je met en oeuvre mes compétences pour le réaliser.<br>
      3- Je vous envoie une première ébauche.<br>
      4- Je vous livre le lien ou l'animation.
    </p>
  </div>
  <div class="p-contact-button"><button class="btn btn-success">Me contacter<br>Immédiatement !</button></div>
</div>

<%= partial 'layouts/components/apt' %>
