<div class="white" data-aos="fade-up">
  <div class="p-container">
    <div class="text-center">
      <%= image_tag "ico-illust.png" %>
    </div>
    <div class="p-texte">
      <h1>Dessins et illustrations.</h1>
      <p>Identité visuelle, illustrations, bande dessinée, personnages, caricatures... </p>
    </div>
      <div class="text-center hidden-sm hidden-xs">
        <%= image_tag "ico-illustrator.png" %><%= image_tag "ico-photoshop.png" %> <%= image_tag "ico-wacom.png", alt: "Wacom" %>
      </div>
  </div>
</div>

  <div class="i-container" data-aos="fade-down">
     <div class="img">
      <a href="images/visual_bw.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "visual_bw1.jpg" %></a>
    </div>
    <div class="img">
      <a href="images/shark.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "shark1.jpg"%></a>
     </div>
    <div class="img">
      <a href="images/med.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "med1.jpg" %></a>
    </div>
    <div class="img">
      <a href="images/powergirl.png" data-lightbox="illustration" data-title="#"><%= image_tag "powergirl1.png" %></a>
    </div>
    <div class="img">
      <a href="images/ecografik.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "ecografik1.gif" %></a>
    </div>
    <div class="img">
      <a href="images/ficel.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "ficel1.gif"  %></a>
    </div>
    <div class="img">
      <a href="images/underwater.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "underwater1.jpg" %></a>
    </div>
    <div class="img">
      <a href="images/guitare.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "guitare1.gif" %></a>
    </div>
    <div class="img">
      <a href="images/smile.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "smile1.jpg" %></a>
    </div>
    <div class="img">
     <a href="images/sarah4.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "Sarah41.jpg" %></a>
    </div>
    <div class="img">
      <a href="images/planchebd.jpg"><%= image_tag "planche-bd1.gif" %></a>
    </div>
    <div class="img">
      <a href="images/ah.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "ah11.jpg" %></a>
    </div>
    <div class="img">
       <a href="images/aurelia.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "aurelia1.jpg" %></a>
    </div>
    <div class="img">
      <a href="images/pose.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "pose1.gif" %></a>
    </div>
    <div class="img">
      <a href="images/marsupio.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "marsupio1.gif" %></a>
    </div>
    <div class="img">
      <a href="images/she.gif" data-lightbox="illustration" data-title="#"><%= image_tag "she1.jpg" %></a>
    </div>
    <div class="img">
      <a href="images/woman.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "woman1.gif" %></a>
    </div>
    <div class="img">
      <a href="images/pinup.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "pinup1.jpg"  %></a>
    </div>
    <div class="img">
      <a href="images/guitargirl.gif" data-lightbox="illustration" data-title="#"><%= image_tag "guitargirl1.gif" %></a>
    </div>
    <div class="img">
      <a href="images/condom.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "condom1.jpg" %></a>
    </div>
    <div class="img">
      <a href="images/madame.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "madame1.jpg"%></a>
    </div>
    <div class="img">
      <a href="images/logospheres.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "logospheres1.jpg" %></a>
    </div>
     <div class="img">
      <a href="images/piaf.gif" data-lightbox="illustration" data-title="#"><%= image_tag "piaf1.gif" %></a>
    </div>
    <div class="img">
      <a href="images/mede.jpg" data-lightbox="illustration" data-title="#"><%= image_tag "mede1.gif" %></a>
    </div>
</div><!-- fin i-container -->
<div class="p-container white">
  <div class="p-info-barre">
    <h4>Ma proposition :</h4>
    <p>1- Vous me faites part de votre besoin, objectif, cible, description de votre univers.<br />
    2- J'établie un devis.<br />
    3- Dès réception de l'acompte, le projet est mis en production.<br />
    4- Je vous fais une proposition créative basée sur la ligne directrice.<br />
    5- Nous évaluons ensemble l'avancement des productions.<br />
    6- Le projet est livré.</p>
  </div>
  <div class="p-contact-button"><button class="btn btn-success">Me contacter<br>Immédiatement !</button></div>
</div>
