

  <section class="sec-banner" data-stellar-background-ratio="0.6">
    <div class="sec-banner-content">
      <h1>Un bout de Ficel</h1>
      <h3>"Ou, quand la passion devient réalité".</h3>
      <p>Bienvenue sur ce site !</p>
    </div>
  </section>

  <section class="sec-skills">

    <div class="fx-up">
      <h4>fx-up image png transparente avec effet liée à la section du dessous</h4>
    </div>
      <div class="home-mainfbox" data-stellar-background-ratio="0.6">
        <div class="img_wrapper">
          <div><%= image_tag "ico-3d.png", alt: "Section-3d", height: 110 %></div>
          <h1>Un titre</h1>
          <hp>Un texte de présentation de la section.</hp>
        </div>
         <div class="img_wrapper">
          <div><%= image_tag "ico-3d.png", alt: "Section-3d", height: 110 %></div>
          <h1>Un titre</h1>
          <hp>Un texte de présentation de la section.</hp>
        </div>
         <div class="img_wrapper">
          <div><%= image_tag "ico-3d.png", alt: "Section-3d", height: 110 %></div>
          <h1>Un titre</h1>
          <hp>Un texte de présentation de la section.</hp>
        </div>
         <div class="img_wrapper">
          <div><%= image_tag "ico-3d.png", alt: "Section-3d", height: 110 %></div>
          <h1>Un titre</h1>
          <hp>Un texte de présentation de la section.</hp>
        </div>
      </div>
       <div class="home-mainfbox" data-stellar-background-ratio="0.6">
        <div class="img_wrapper">
          <div><%= image_tag "ico-3d.png", alt: "Section-3d", height: 110 %></div>
          <h1>Un titre</h1>
          <hp>Un texte de présentation de la section.</hp>
        </div>
         <div class="img_wrapper">
          <div><%= image_tag "ico-3d.png", alt: "Section-3d", height: 110 %></div>
          <h1>Un titre</h1>
          <hp>Un texte de présentation de la section.</hp>
        </div>
         <div class="img_wrapper">
          <div><%= image_tag "ico-3d.png", alt: "Section-3d", height: 110 %></div>
          <h1>Un titre</h1>
          <hp>Un texte de présentation de la section.</hp>
        </div>
         <div class="img_wrapper">
          <div><%= image_tag "ico-3d.png", alt: "Section-3d", height: 110 %></div>
          <h1>Un titre</h1>
          <hp>Un texte de présentation de la section.</hp>
        </div>
      </div>
    <div class="fx-down">
      <h4>fx-downimage png transparente avec effet liée à la section du dessus</h4>
    </div>

  </section>

  <section class="sec-bg-middle" data-stellar-background-ratio="0.6">
    <!-- à laisser vide -->
  </section>

  <section class="home-mainfbox">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores iste recusandae error dolore similique reiciendis, quis aut, molestias accusamus nesciunt nisi maiores assumenda reprehenderit ea ipsa tempore, sit eos nam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores iste recusandae error dolore similique reiciendis, quis aut, molestias accusamus nesciunt nisi maiores assumenda reprehenderit ea ipsa tempore, sit eos nam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores iste recusandae error dolore similique reiciendis, quis aut, molestias accusamus nesciunt nisi maiores assumenda reprehenderit ea ipsa tempore, sit eos nam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores iste recusandae error dolore similique reiciendis, quis aut, molestias accusamus nesciunt nisi maiores assumenda reprehenderit ea ipsa tempore, sit eos nam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores iste recusandae error dolore similique reiciendis, quis aut, molestias accusamus nesciunt nisi maiores assumenda reprehenderit ea ipsa tempore, sit eos nam.</p>
  </section>

  <section class="footer">

  </section>




