

  <section class="sec-banner" data-stellar-background-ratio="0.6">
    <div class="sec-banner-content">
      <h1>Un bout de Ficel</h1>
      <h3>"Ou, quand la passion devient réalité".</h3>
      <p>Bienvenue sur ce Porfolio !</p>
    </div>
  </section>

  <section class="sec-skills">
    <div class="fx-up">
      <%= image_tag 'fx-up.png' %>
    </div>
      <div class="home-mainfbox" data-stellar-background-ratio="0.6">
        <div class="img_wrapper">
          <div><%= image_tag "ico-print.png", alt: "Print", height: 110 %></div>
          <h3>Documents et mise en page.</h3>
          <hp>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consequatur eligendi tempore molestiae excepturi asperiores sequi eum earum laborum praesentium, qui obcaecati illo, accusamus, vel mollitia nesciunt voluptatibus, iste fugit.</hp>
        </div>
         <div class="img_wrapper">
          <div><%= image_tag "ico-illust.png", alt: "illustration", height: 110 %></div>
          <h3>Illustration</h3>
          <hp>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae pariatur ratione nihil a, libero ducimus debitis nulla amet repellendus odit earum, fugiat, corporis. Vero quos, obcaecati ducimus error, corporis odio!</hp>
        </div>
         <div class="img_wrapper">
          <div><%= image_tag "ico-3d.png", alt: "Section-3d", height: 110 %></div>
          <h3>Modélisation 3D</h3>
          <hp>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat animi voluptas asperiores sapiente repellendus dicta obcaecati adipisci dolor ipsum sed beatae, odit dolores, natus eligendi? Eius perspiciatis tempore placeat dolorum!</hp>
        </div>
         <div class="img_wrapper">
          <div><%= image_tag "ico-web.png", alt: "Section-3d", height: 110 %></div>
          <h3>Contenu Web</h3>
          <hp>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur praesentium dolore dolores culpa laudantium saepe possimus consequatur voluptas quae iste similique quia cum, ab, iusto quam sunt pariatur hic id.</hp>
        </div>
      </div>
       <div class="home-mainfbox" data-stellar-background-ratio="0.6">
        <div class="img_wrapper">
          <div><%= image_tag "ico-ruby.png", alt: "Section-3d", height: 110 %></div>
          <h3>Développement</h3>
          <hp>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur maiores, nobis? Quibusdam iure consequatur excepturi temporibus numquam voluptatum consequuntur nisi harum in voluptatem assumenda ea quasi, cum earum saepe ducimus.</hp>
        </div>
         <div class="img_wrapper">
          <div><%= image_tag "ico-shorts.png", alt: "Section-3d", height: 110 %></div>
          <h3>Courts-métrage 3D</h3>
          <hp>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sapiente aperiam distinctio quam veritatis, error ullam quia voluptatum. Nobis eaque ipsa iure molestias dignissimos porro sit labore ab, fugiat animi.</hp>
        </div>
         <div class="img_wrapper">
          <div><%= image_tag "ico-music.png", alt: "Section-3d", height: 110 %></div>
          <h3>Musique</h3>
          <hp>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nemo minima, totam recusandae tempora. Ullam itaque illo nihil qui fugiat quasi velit voluptatum maxime aliquid, provident sunt expedita beatae dicta.</hp>
        </div>
         <div class="img_wrapper">
          <div><%= image_tag "ico-contact.png", alt: "Section-3d", height: 110 %></div>
          <h3>Contact</h3>
          <hp>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis velit et, enim mollitia alias nobis delectus, nostrum autem, tempora deserunt temporibus architecto consectetur repellendus itaque dolore in optio voluptatem libero.</hp>
        </div>
      </div>
    <div class="fx-down">
      <%= image_tag 'fx-down-a.png' %>
    </div>

  </section>

  <section class="sec-bg-middle" data-stellar-background-ratio="0.6">
    <!-- espace -->
  </section>

  <section class="home-mainfbox">

    <h2>Todo - icones de contact et partage - GitHub - Skype -  </h2>
  </section>

  <section class="footer">

  </section>




