

  <section class="sec-banner" data-stellar-background-ratio="0.6">
    <div class="sec-banner-content">
      <h1>UN BOUT DE FICEL...</h1>
      <h2>"Aller au bout de ses convictions !"</h2>
      <%= image_tag "#", height: "150" %>
    </div>
  </section>

  <section class="sec-skills">
      <div id = "first-mainfbox" class="home-mainfbox" data-stellar-background-ratio="0.6">
        <a href="print.html">
        <div id= "print" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <div><%= image_tag "ico-print.png", alt: "Print", height: 110 %></div>
          <h3>Documents et mise en page.</h3>
          <p>Votre vision gouverne ma créativité ! Quelque soit votre secteur d'activité je retranscrit vos désirs, une ambiance particulière, un style, une idée...</p>
        </div></a>
        <a href="illustration.html">
         <div id="#" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="200">
          <div><%= image_tag "ico-illust.png", alt: "illustration", height: 110 %></div>
          <h3>Illustration</h3>
          <p>Depuis toujours fasciné par la création graphique et bien avant l'avenement de l'ordinateur personnel. J'ai ensuite du choisir entre un aérographe et une tablette graphique. ;-)</p>
        </div></a>
        <a href="gifs.html">
         <div id="#" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="400">
          <div><%= image_tag "ico-web.png", alt: "Section-3d", height: 110 %></div>
          <h3>Contenu Web</h3>
          <p>Parce qu'on à toujours besoin du petit détails qui change tout ! Parce que notre présence sur le net doit s'écarter de la masse. Cette section mélange les styles...</p>
        </div></a>
         <div id="#" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="600">
          <div><%= image_tag "ico-3d.png", alt: "Section-3d", height: 110 %></div>
          <h3>Modélisation 3D</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat animi voluptas asperiores sapiente repellendus dicta obcaecati adipisci dolor ipsum sed beatae, odit dolores, natus eligendi? Eius perspiciatis tempore placeat dolorum!</p>
        </div>
      </div>
       <div class="home-mainfbox" data-stellar-background-ratio="0.6">
        <div id="#" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="200">
          <div><%= image_tag "ico-ruby.png", alt: "Section-3d", height: 110 %></div>
          <h3>Développement</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur maiores, nobis? Quibusdam iure consequatur excepturi temporibus numquam voluptatum consequuntur nisi harum in voluptatem assumenda ea quasi, cum earum saepe ducimus.</p>
        </div>
         <div id="#" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="400">
          <div><%= image_tag "ico-music.png", alt: "Section-3d", height: 110 %></div>
          <h3>Musique</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nemo minima, totam recusandae tempora. Ullam itaque illo nihil qui fugiat quasi velit voluptatum maxime aliquid, provident sunt expedita beatae dicta.</p>
        </div>
         <div id="#" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="600">
          <div><%= image_tag "ico-shorts.png", alt: "Section-3d", height: 110 %></div>
          <h3>Courts-métrage 3D</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sapiente aperiam distinctio quam veritatis, error ullam quia voluptatum. Nobis eaque ipsa iure molestias dignissimos porro sit labore ab, fugiat animi.</p>
        </div>
         <div id="#" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="800">
          <div><%= image_tag "ico-contact.png", alt: "Section-3d", height: 110 %></div>
          <h3>Contact</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis velit et, enim mollitia alias nobis delectus, nostrum autem, tempora deserunt temporibus architecto consectetur repellendus itaque dolore in optio voluptatem libero.</p>
        </div>
      </div>


  </section>

  <section class="sec-bg-middle" data-stellar-background-ratio="0.6">
    <!-- espace -->
  </section>

  <section class="home-mainfbox">
      <h2>Contact et partage
        <%= image_tag "ico-skype.png" %>
        <%= image_tag "ico-github.png" %>
      </h2>
      <%= image_tag "guitare.gif", :class => "avatar-style" %>
  </section>





