<div class="white" data-aos="fade-up">
    <div class="p-container">
      <div class="text-center hidden-xs">
        <%= image_tag "ico-music.png" %>
      </div>
      <div class="p-texte">
        <h1>Compositions musicales.</h1>
        <p>Je vous propose également de mettre en musique vos publicité, jinggles, teasers.<br>
          Prenez le temps d'écouter !</p>
      </div>
        <div class="text-center hidden-sm hidden-xs">
          <%= image_tag "ico-cubase.png" %>
          <%= image_tag "ico-guitarig.png" %>
          <%= image_tag "ico-wavelab.png" %>
        </div>
    </div>
</div>

<div class="m-container">
  <div class="m-img text-center">
    <img src="../images/madtracker.jpg">
  </div>
  <div class="m-img text-center">
    <img src="../images/Rig5.jpg">
  </div>
  <div class="m-img text-center">
    <img src="../images/cubase.jpg">
  </div>
</div>


<div class="player">
<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
          <div><p>Médiator</p></div>
           <audio src="../musiques/Ficel - Mediator.mp3" preload="auto" controls></audio>
          <div class="audioplayer-bar">
              <div class="audioplayer-bar-loaded"></div>
              <div class="audioplayer-bar-played"></div>
          </div>
          <div class="audioplayer-volume">
              <div class="audioplayer-volume-adjust"><div>
          </div>
        </div></div></div></div>


<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
          <div><p>Valentine</p></div>
        <audio src="../musiques/Ficel - Valentine.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
         </div>
        </div></div></div></div>

<div class="musicbox">
         <div class="audioplayer audioplayer-stopped">
            <div><p>L'âme en tension</p></div>
        <audio src="../musiques/Ficel - L'ame en tension.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>

<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>Duangnet</p></div>
        <audio src="../musiques/Duangnet.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>
<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>Ballade2</p></div>
        <audio src="../musiques/ballade2.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>
<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>Du retard</p></div>
        <audio src="../musiques/Ficel - Du retard.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>

<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>Happy time</p></div>
        <audio src="../musiques/Ficel - Happy time.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>

<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>All4</p></div>
        <audio src="../musiques/Ficel - Al 4.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>

<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>Reprise : Stay -  Sadie Jemmett</p></div>
        <audio src="../musiques/Reprise Stay -  Sadie Jemmett.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>

<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>Feel Good</p></div>
        <audio src="../musiques/Ficel - Feel Good.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>

<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>Enerjoy</p></div>
        <audio src="../musiques/Ficel - Enerjoy.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>




<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>Concerto</p></div>
        <audio src="../musiques/Ficel - Once upon a space.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div></div></div></div>


      </div><!-- end player -->

      </div><!-- end container -->
<%= partial 'layouts/components/apt' %>




<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="js/libs/audio.player.js"></script>
<script>
    $( function()
    {
        $( 'audio' ).audioPlayer();
    });
</script>


    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>


