
<div class="white">
    <div class="p-container">
      <div class="text-center">
        <%= image_tag "ico-print.png" %>
      </div>
      <div class="p-texte">
        <h1>Documents et mise en page.</h1>
        <h4>Affiches, flyers, pochettes de CD, documents et plans d'information, cartes de restaurant,<br> cartes de visite, carte de fidélité, étiquettes...</h4>
      </div>
        <div class="text-center hidden-sm hidden-xs">
          <%= image_tag "ico-indesign.png" %><%= image_tag "ico-xpress.png" %><%= image_tag "ico-illustrator.png" %><%= image_tag "ico-photoshop.png" %>
        </div>
    </div>
</div>
<div class="p-container white">
  <div class="p-info-barre">
    <h4>Ma proposition :</h4>
    <p>1- Vous me faites part de votre besoin, objectif, cible, description de votre univers.<br />
    2- Je vous fais une proposition créative fondée sur la ligne directrice convenue.<br />
    3- Nous évaluons ensemble l'aspect et la pertinence des résultats.<br />
    4- Le projet est mis en production, puis livré.</p>
  </div>
  <div class="p-contact-button"><button class="btn btn-success">Me contacter<br>Immédiatement !</button></div>
</div>
<section class="#">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="d-flex">
        <div class="p-titre-affiche"><h4>Posters et plaquettes tous format :</h4></div>
        <div class="cont-thumbs" data-aos="zoom-in">
          <a href="images/lfc2.jpg" data-lightbox="print" data-title="Plaquette A4 Recto/Verso de La Fabuleuse Croisière"><%= image_tag "art006.jpg", style: "padding: 5px"%></a>
          <a href="images/LFM.jpg" data-lightbox="print" data-title="Plaquette recto/verso, Les fous-Marins."><%= image_tag "art007.jpg", style: "padding: 5px"%></a>
          <a href="images/ah.jpg" data-lightbox="print" data-title="Poster personnalisé d'après une photo."><%= image_tag "ah1.png", style: "padding: 5px" %></a>
        </div>
        <hr>
        <div class="p-titre-affiche"><h4>Identité visuelle et logos:</h4></div>
        <div class="cont-thumbs" data-aos="zoom-in">
          <a href="images/ecografik.jpg" data-lightbox="print" data-title="#"><%= image_tag "ecografik1.gif", style: "padding: 5px"%></a>
          <a href="images/designa.jpg" data-lightbox="print" data-title="#"><%= image_tag "designa1.jpg", style: "padding: 5px"%></a>
          <a href="images/ficel.jpg" data-lightbox="print" data-title="#"><%= image_tag "ficel1.gif", style: "padding: 5px" %></a>
        </div>
      </div>
  </div>
   <div class="col-sm-6 col-xs-12">
      <div class="d-flex">
        <div class="p-titre-affiche"><h4>Exemple de flyers, pochette de CD, de cartes et étiquettes :</h4></div>
        <div class="cont-thumbs" data-aos="zoom-in" data-aos-delay="400">
          <a href="images/flyer_ec.jpg" data-lightbox="autres" data-title="Flyers A5, Bar El Chuchumbe."><%= image_tag "flyer_ec1.png", style: "padding: 5px"%></a>
          <a href="images/atf.jpg" data-lightbox="autres" data-title="Pochette de l'album Ashes To Fire."><%= image_tag "atf1.jpg", style: "padding: 5px"%></a>
          <a href="images/planavis.png" data-lightbox="autres" data-title="Plan d'information format: A3, Sociète Avis Mérignac."><%= image_tag "planavis1.png", style: "padding: 5px"%></a>
        </div>
        <div class="cont-thumbs" data-aos="zoom-in" data-aos-delay="800">
          <a href="images/theroof.jpg" data-lightbox="autres" data-title="Flyers, format: A5. Bar The Roof à Koh Tao."><%= image_tag "theroof1.gif", style: "padding: 5px"%></a>
          <a href="images/etiquettes_noel.jpg" data-lightbox="autres" data-title="Etiquettes planche A4, à imprimer soi-même sur planche adhésive."><%= image_tag "etiquettes_noel21.jpg", style: "padding: 5px"%></a>
          <a href="images/tract.gif" data-lightbox="autres" data-title="Flyers, format: A5. Discothèque Le Dalton."><%= image_tag "tract1.gif", style: "padding: 5px"%></a>
          <a href="images/tionene.jpg" data-lightbox="autres" data-title="Carte de fidélité, format A4 (3 volets), à découper."><%= image_tag "tionene1.gif", style: "padding: 5px"%></a>
          <a href="images/pizzaa.gif" data-lightbox="autres" data-title="Carte plastifiée du restaurant l'Escale à Pizzas, recto/verso."><%= image_tag "pizzaa1.gif", style: "padding: 5px"%></a>
        </div>

      </div>
    </div>
  </div><!-- fin row -->
</section>

<div class="p-container white">
  <div class="p-info-barre">
    <h4>Ma proposition :</h4>
    <p>1- Vous me faites part de votre besoin, objectif, cible, description de votre univers.<br />
    2- Je vous fais une proposition créative fondée sur la ligne directrice convenue.<br />
    3- Nous évaluons ensemble l'aspect et la pertinence des résultats.<br />
    4- Le projet est mis en production, puis livré.</p>
  </div>
  <div class="p-contact-button"><button class="btn btn-success">Me contacter<br>Immédiatement !</button></div>
</div>

