<div class="white" data-aos="fade-up">
  <div class="p-container">
    <div class="text-center">
      <%= image_tag "ico-shorts.png" %>
    </div>
    <div class="p-texte">
      <h1>Animation 3D</h1>
      <p>Dans cette section je vous présente quelques séquences animées issues de mon travail en 3D.<br>
      Reflet des concepts abordés en modélisation, mapping (textures), rigging (animation), éclairages,<br>
      caméras, particules, rendu mais également de compositing (montage vidéo).<br>
      Teaser d'entreprise, courts-métrages, Jinggle TV.<br>
      </p>
    </div>
      <div class="text-center hidden-sm hidden-xs">
        <%= image_tag "ico-3dsmax.png" %><%= image_tag "ico-photoshop.png" %> <%= image_tag "ico-mudbox.png", alt: "Mudbox" %>
      </div>
  </div>
</div>
<p></p>

<div class="cont3d">
  <div class="container">

    <div class="product" data-aos="zoom-in" data-aos-delay="50">
      <div class="product-upvotes">
        <p>Réalisation : 2004<BR>Taille : 1.48 MB<BR>Durée : 0'12</p>
      </div>
      <a href="https://www.youtube.com/watch?v=m_LzzPWhhoU" target="_blank"><img src='../images/kilo.gif' alt="" ></a>
      <div class="product-description">
        <h4>KILOGO</h4>
        <P>Teaser d'une agence de communication.</P>
      </div>
          <ul class="list-inline poshoriz">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
    </div><!-- fin product -->

    <div class="product" data-aos="zoom-in" data-aos-delay="100">
      <div class="product-upvotes">
        <p>Réalisation : 2016<br>Taille : 26 MB<br>Durée : 0'27</p>
      </div>
      <a href="https://www.youtube.com/watch?v=Ah24qlFK4Ic" target="_blank"><img src='../images/bbm1.gif' alt=""></a>
      <div class="product-description">
        <h4>BABYMECH</h4>
        <P>Modelisation : 3dsmax - Animation et gestion des layers<br> d'animation : 3dsMax CAT,  Compositing  : After Effect.</P>
      </div>
          <ul class="list-inline poshoriz">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
    </div><!-- fin product -->

    <div class="product" data-aos="zoom-in" data-aos-delay="150">
      <div class="product-upvotes">
      <p>Réalisation : 2003<br>Taille : 27 MB<br>Durée : 2'14</p>
      </div>
      <a href="https://www.youtube.com/watch?v=adh9y6P6R-o"><img src='../images/al yen11.gif' alt=""></a>
      <div class="product-description">
        <h4>T'EMBALLES PAS !</h4>
        <P> Animation de personnage sur fond de Basket-ball. </P>
      </div>
          <ul class="list-inline poshoriz">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
    </div><!-- fin product -->

    <div class="product" data-aos="zoom-in" data-aos-delay="200">
      <div class="product-upvotes">
        <p>Réalisation : 2012<br>Taille : 6,21 MB<br>Durée : 0'09</p>
      </div>
      <a href="../shorts/mrpropre.mp4" target="_blank"><img src='../images/mrpropre.gif' alt=""></a>
      <div class="product-description">
        <h4>Mr Propre</h4>
        <P>Course d'un personnage animé avec CAT-Rig d'Autodesk.</P>
      </div>
        <ul class="list-inline poshoriz">
          <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
    </div><!-- fin product -->

    <div class="product" data-aos="zoom-in" data-aos-delay="250">
      <div class="product-upvotes">
        <p>Réalisation : 2004<BR>Taille : 1.5 MB<BR>Durée : 0'20</p>
      </div>
      <a href="../shorts/fromsky.mp4" target="_blank"><img src='../images/fromsky1.jpg' alt=""></a>
      <div class="product-description">
        <h4>From sky</h4>
        <P>Intro basée sur l'idée de présenter différents métiers <br>au plus jeunes grâce au film d'animation.</P>
      </div>
        <ul class="list-inline poshoriz">
          <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
    </div><!-- fin product -->



    <div class="product" data-aos="zoom-in" data-aos-delay="300">
      <div class="product-upvotes">
      <p>Réalisation : Pfff !<BR>Taille : 406 Ko<BR>Durée : 0'18</p>
      </div>
      <a href="../shorts/bureau.mp4" target="_blank"><img src='../images/bureau1231.jpg' alt=""></a>
      <div class="product-description">
        <h4>Bureau</h4>
        <P>Un personnage quitte le monde virtuel...</P>
      </div>
          <ul class="list-inline poshoriz">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
    </div><!-- fin product -->


    <div class="product" data-aos="zoom-in" data-aos-delay="300">
      <div class="product-upvotes">
      <p>Réalisation : 2003<br>Taille : 3,8 MB<br>Durée : 0'34</p>
      </div>
      <a href="../shorts/garden.avi"><img src='../images/garden.gif' alt=""></a>
      <div class="product-description">
        <h4>GARDEN</h4>
        <P>Jouer au foot près d'une fenêtre ? <br> Test de collision et de corps souples donnant lieux à une petite animation.</P>
      </div>
          <ul class="list-inline poshoriz">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
    </div><!-- fin product -->

    <div class="product" data-aos="zoom-in" data-aos-delay="300">
      <div class="product-upvotes">
      <p>Réalisation : 2002<br>Taille : 6,47 MB<br>Durée : 1'03</p>
      </div>
      <a href="../shorts/ballade4.avi"><img src='../images/ballad11.gif' alt=""></a>
      <div class="product-description">
        <h4>BALLADE</h4>
        <P>Une animation de petite voiture. Path-follow & Projection de particules.</P>
      </div>
          <ul class="list-inline poshoriz">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
    </div><!-- fin product -->

    <div class="product" data-aos="zoom-in" data-aos-delay="300">
      <div class="product-upvotes">
      <p>Réalisation : 2000<br>Taille : 2,48 MB<br>Durée : 0'32</p>
      </div>
      <a href="../shorts/watworl.avi"><img src='../images/watworl11.gif' alt=""></a>
      <div class="product-description">
        <h4>WATER WORLD</h4>
        <P>Quelques bestioles d'un monde sous-marin imaginaire.</P>
      </div>
          <ul class="list-inline poshoriz">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
    </div><!-- fin product -->

    <div class="product" data-aos="zoom-in" data-aos-delay="300">
      <div class="product-upvotes">
      <p>Réalisation : 1999<br>Taille : 3,12 MB<br>Durée : 0'28</p>
      </div>
      <a href="../shorts/océan.avi"><img src='../images/ocean11.gif' alt=""></a>
      <div class="product-description">
        <h4>OCEAN</h4>
        <P>Quelques mamifères marins et des effets de lumières et projection d'ombres sympa.</P>
      </div>
          <ul class="list-inline poshoriz">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
    </div><!-- fin product -->

    <div class="product">
      <img src="../images/blonde1.gif">
      <img src="../images/jpc11.gif">
      <img src="../images/shaghair.gif">
      <img src="../images/guepe.gif">
      <img src="../images/otreviv03.gif">
      <img src="../images/otreviv04.gif">
      <img src="../images/otreviv05.gif">
    </div><!-- fin product -->

  </div><!-- fin cont3d -->
</div><!-- fin container -->

<div class="white text-center aered"><%= image_tag "stars.png" %></div>

<div class="p-container white">
  <div class="p-info-barre">
    <h4>Ma proposition :</h4>
    <p>1- Vous me faites part de votre projet. Je réceptionne toutes les références nécessaires, cahier des charges.<br>
      2- Etablissement d'un devis ou forfait journalier.<br />
      3- Dès réception de l'acompte, le projet est mis en production.<br />
      4- Nous suivons ensemble, au fur et à mesure, l'aspect et la pertinence de l'avancement du projet.<br />
      5- Au réglement du solde, le projet est livré dans sa totalité.</p>
  </div>
  <div class="p-contact-button"><button class="btn btn-success">Me contacter<br>Immédiatement !</button></div>
</div>

<%= partial 'layouts/components/apt' %>
<p></p>

