<div class="white" data-aos="fade-up">
  <div class="p-container">
    <div class="text-center hidden-xs">
      <%= image_tag "ico-shorts.png" %>
    </div>
    <div class="p-texte">
      <h1>Animation 3D</h1>
      <p>Dans cette section je vous présente quelques séquences animées issues de mon travail en 3D.<br>
      Reflet des concepts abordés en modélisation, mapping (textures), rigging (animation), éclairages,<br>
      caméras, particules, rendu mais également de compositing (montage vidéo).<br>
      Teaser d'entreprise, courts-métrages, Jinggle TV.<br>
      </p>
    </div>
      <div class="text-center hidden-sm hidden-xs">
        <%= image_tag "ico-3dsmax.png" %><%= image_tag "ico-photoshop.png" %> <%= image_tag "ico-mudbox.png", alt: "Mudbox" %>
      </div>
  </div>
</div>
<p></p>


  <div class="container">
  <% data.shorts.each do |short| %>
  <div class="mov-main data-aos="zoom-in" data-aos-delay="50"">
    <div class="mov-info">
      <div class="mov-titre"><h4><%= short.title %></h4></div>
      <div class="mov-real"><p>Réalisation : <%= short.realisation %><br>Durée : <%= short.durée %></p></div>
    </div>
    <div class="mov-img">
      <a href="<%= short.video_link %>" target="_blank"><img src="<%= short.img_link %>" alt=""></a>
    </div>
    <div class="mov-desc"><p><%= short.slug %></p></div>
    <div class="mov-res">
      <ul class="list-inline hidden-xs">
        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
    <% end %>
</div>


<div class="white text-center aered"><%= image_tag "stars.png" %></div>

<div class="p-container white">
  <div class="p-info-barre">
    <h4>Ma proposition :</h4>
    <p>1- Vous me faites part de votre projet. Je réceptionne toutes les références nécessaires, cahier des charges.<br>
      2- Etablissement d'un devis ou forfait journalier.<br />
      3- Dès réception de l'acompte, le projet est mis en production.<br />
      4- Nous suivons ensemble, au fur et à mesure, l'aspect et la pertinence de l'avancement du projet.<br />
      5- Au réglement du solde, le projet est livré dans sa totalité.</p>
  </div>
  <div class="p-contact-button"><button class="btn btn-success">Me contacter<br>Immédiatement !</button></div>
</div>

<%= partial 'layouts/components/apt' %>
<p></p>

