

<div class="video-cont">
  <div class="videobox">
    <video autoplay muted loop>
      <source src="../shorts/banvid2.mp4" type="video/mp4">
    </video>
    <div class="text-vid">
      <h1>Bienvenue sur ce Portfolio.</h1>
      <p>Serge CLEORON</p>
    </div>
  </div>
</div>

<div class="container">
  <% data.shorts.each do |short| %>
  <div class="mov-main data-aos="zoom-in" data-aos-delay="50"">
    <div class="mov-info">
      <div class="mov-titre"><h4><%= short.title %></h4></div>
      <div class="mov-real"><p>Réalisation : <%= short.realisation %><br>Durée : <%= short.durée %></p></div>
    </div>
    <div class="mov-img">
      <a href="<%= short.video_link %>" target="_blank"><img src="<%= short.img_link %>" alt=""></a>
    </div>
    <div class="mov-desc"><p><%= short.slug %></p></div>
    <div class="mov-res">
      <ul class="list-inline hidden-xs">
        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
    <% end %>
</div>
